<div class="m-5">
  <%= simple_form_for @restaurant do |form|%>
    <%= form.input :name %>
    <%= form.input :address %>
    <%= form.input :category, collection: Restaurant::CATEGORIES %>
    <%= form.button :submit, class: "btn-primary" %>
  <% end %>
</div>
